body {
    background-color:  hsl(275, 100%, 97%);
    margin: 0;
    font-family: 'Work Sans';
}

.background-wallpaper {
   width: 100%;
   height: auto;
   margin: 0;
}

.main-block {
    width: 80%;
    margin: -25% auto 0 auto;
    background-color: hsl(0, 100%, 100%);
    z-index: ;
}