
.bg-desktop {
    display: none;
}

.bg-mobile {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -2;
    top: 0;
}


body {
    background-color:  hsl(275, 100%, 97%);
    margin: 0;
    font-family: 'Work Sans';
    align-items: start;
    cursor: default;
}

.main-block {
    width: 70%;
    margin: 10% auto;
    background-color: hsl(0, 100%, 100%);
    padding: 30px;
    border-radius: 20px;
}

.title {
    font-size: 35px;
    color: hsl(292, 42%, 14%);
}

.question {
    color: hsl(292, 42%, 14%);
    font-weight: 600;
    transition: color 200ms;
}

p {
    color: hsl(292, 16%, 49%);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

.block-title {
    display: flex;
}

.img-star {
    width: 1.5em;
    height: auto;
    padding-right: 1em;
}

.question:hover {
    color: #ad28eb;
    cursor: pointer;
    transition: color 200ms;
}



.block-question {
    display: flex;
    flex-direction: column;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.answer {
    display: none;
}

.answer.show {
    display: block;
}



.css-bg {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-image: url("assets/images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }

.css-bg:hover {
    transform: scale(1.2);
    transition: transform 200ms;
    cursor: pointer;
  }

.css-bg:active {
    transform: scale(1);
    transition: transform 200ms;
    cursor: pointer;
  }

.css-bg.opened {
    background-image: url("assets/images/icon-minus.svg");
    transition: all 200ms;
  }

  
@media (min-width: 1024px) {
    .bg-desktop {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -2;
        top: 0;
    }

    .bg-mobile {
        display: none;
    }

    .main-block {
        width: 30%;
    }
}